<section class="mx-auto mt-12 w-full">
  <div id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="788f9284-62fd-4d0d-915d-846b4d4b4440"
    data-page-id={Astro.url.pathname}
    data-page-url={Astro.url.href}
  ></div>
  <script is:inline async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</section>